html
{
	font: tahoma;
	color: #C4ADFF;
	/** #FFDEAD **/
	font-family: tahoma;
	-webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body
{
	background-color: #210000;
	background-image: url("../pic/BackPic.jpg");
	padding: 1em 0.5em 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	 display: block; 
}

h1, h2, h3
{
	text-align: left;
}

.div-tab .right-tab-header
{
	text-align: right;
	margin-right: 10px;
	font-size: 0.5em;
}

.div-tab .left-tab-text
{
	text-align: left;
	margin-left: 15px;
	font-size: 1em;
}

.tab-seperator
{
	width: 100%;
	height: 1px;
	background-image: url("./blitzer/images/ui-bg_highlight-soft_15_cc0000_1x100.png")
}

#site-header
{
	text-align: center;
	background-color: transparent;
	color: antiquewhite;
	border-color: transparent;
	margin: inherit;
}

#site-header-img
{
	width: 100%;
	height: 100%;
}

header, article
{
	flex: 1;
	background-color: #FFFAF0;
	align-self:center;
	margin: 30px 25% 30px 25%;
	padding: 15px 30px 15px 30px;
	color: #170000;
	text-align: left;
	border: 2px solid #686868;
	opacity: 0.8;
}

article .article-headline
{
	color:#686868;
	width:100%;
}

article .article-author
{
	font-size: 12px;
	color: gray;
}

article .article-body
{
	font-size: 12px;
	margin-top: 20px;
	font-weight: 900;
	margin-left: 15px;
}

.nav-ul
{
	padding-left: 10px;
	padding-right: 10px;
}

ul[class="nav-ul"] li
{
	list-style:none;
	display: inline;
	padding-right: 5px;
	margin-right:5px;
}

ul[class="tabs-head"] li
{
	list-style:none;
	display: inline;
	padding-right: 5px;
	margin-right:5px;
}

.h-header
{
	text-align: center;
	font-size: 200%;
	text-transform: uppercase;
}

.navbar-right
{
  	text-align: center;
	background-color: #FFFAF0;
	text-transform: uppercase;
	-webkit-transform-origin:20% 40%;
	-webkit-transform: rotate(90deg);
	float: right;
	background-opacity: 50%;
}

#navbarMain
{
	position: absolute;
	top: 50%;
	left: 75%;
	opacity: 0.8;
}

.article-author
{
	float:right;
}

.artinav-content div
{
	-webkit-transform-origin:50% 50%;
	-webkit-transform: rotate(-90deg);
	margin-left: 50px;
}

.article-navbar
{
	text-align: center;
	background-color: #FFFAF0;
	position: relative;
	/*left: 80px;*/
	-webkit-transform-origin:0% 0%;
	/*-webkit-transform: rotate(90deg);*/
	/*float: left;*/
	background-opacity: 50%;
	padding: initial;
	text-decoration: blink;
	border: 2px solid #686868;
	border-top: transparent;
}



.article-navbar ul
{
	text-align: center;
}

.article-navbar li
{
	list-style: none;
	width:10%;
}

.article-navbar li a
{
	text-decoration: none;
	text-align: center;
	width:100%;
}

/*effects*/

@-webkit-keyframes liEffBack
{
	from {background: #FFFAF0;}
	to {background: red;}
}

@-webkit-keyframes liEffFront
{
	from {color: #C4ADFF;}
	to {color: black;}
}

/*.navbar-right
{
	overflow: scroll;
}*/


.navbar-right .nav-li a
{
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: overline;
}

.navbar-right .nav-li a:hover
{
	-webkit-animation:liEffFront 2s infinite;
}

.navbar-right .nav-li:hover
{
	-webkit-animation:liEffBack 2s infinite;
}

/*.tabs-right { 
    position: relative; 
    padding-right: 6.5em; 
    float:right;
    clear: both;
} 
.tabs-right .ui-tabs-nav { 
    position: absolute; 
    right: 0.25em; 
    top: 0.25em; 
    bottom: 0.25em; 
    width: 6em; 
    padding: 0.2em 0.2em 0.2em 0em; 
} 
.tabs-right .ui-tabs-nav li { 
    width: 100%; 
    border-left: none; 
    border-bottom-width: 1px !important; 
    -moz-border-radius: 0px 4px 4px 0px; 
    -webkit-border-radius: 0px 4px 4px 0px; 
    border-radius: 0px 4px 4px 0px; 
    overflow: hidden; 
} 
.tabs-right .ui-tabs-nav li.ui-tabs-selected, 
.tabs-right .ui-tabs-nav li.ui-state-active { 
    left: -1px; 
    border-left: 1px solid transparent; 
} 
.tabs-right .ui-tabs-nav li a { 
    width: 100%; 
}

.tabs-right-rotate
{
	-webkit-transform-origin: left;
	-webkit-transform: rotate(90deg);
	font-family: inherit;
	font-size: inherit;
}

.tabs-right .ui-tabs-nav
{
	width:5em;
}*/

.list-posts
{
	height:100;
	clear:both;
	overflow: auto;
}

.post-div-content
{
	float:right;
}